

  body {
  background-image: url('https://i.pinimg.com/originals/c5/16/ff/c516ff9163fefeaa5974fc7c8855cd02.jpg'); 
  background-size: cover;
  background-position:top;
 background-repeat: no-repeat;

}
.login-container {
  width: 350px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 30px;
  border-radius: 10px;
  margin-right: 100px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  float:right;
  margin-top: 80px;
}
.login-container input[type="text"],
.login-container input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-container input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #0eadad;
  color: rgb(11, 1, 1);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-container input[type="submit"]:hover {
  background-color: #90cdce;
}
.login-container a {
  display: block;
  text-align: center;
  margin-top: 10px;
  text-decoration: none;
  color: #007bff;
}

.login-container a:hover {
  text-decoration: underline;
}
header{
  background:linear-gradient( to bottom,white,#0eadad ) ;
  background-position: 0% 100%;
  background-size: 100% 100%;
  font-size: 70px;
  font-family: Times;
  text-align:center;
  margin-top: 7px;

}

#content{
  float:left;
  margin-top: 100px;
  margin-left: 100px;
}
#content h1{
  font-size: 55px;
}
i {
  font-size: 20px;
}
#content h2{
  font-size: 30px;
}
 img{
  width: 150px;
  height: 150px;
  float:right;

 }
 a {
  text-decoration: none;
  color: #f90404;
  margin-right: 20px;
  
  
}
a:hover {
  text-decoration: underline;
}
